@font-face{
    font-family: 'gbretro';
    src: url('../fonts/gbboot.ttf');
}

figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}

figure img {
    vertical-align: top;
}

figure figcaption {
    font-family: 'gbretro', sans-serif;
    font-size: 20pt;
    border: 1px dotted blue;
    text-align: center;
}

#gbts { 
    background:black; 
    padding:1em 1em 1em; 
    margin:0 auto;
}

figure figcaption > a {
    color: #666;
    font-family: 'gbretro', sans-serif;
    font-size: 16pt;
    cursor: pointer; 
    cursor: hand;
}